<div class="row">
    <div class="col-md-8">

        <div>
            @if (@ViewBag.LoggedIn)
            {
                <h2>Congratulations! You're logged in.</h2>
                <h3>You've retrieved the following authorization data.</h3>
                <ul>
                    <li><b>Access Token:</b> @ViewBag.Token</li>
                    <li><b>API Version:</b> @ViewBag.ApiVersion</li>
                    <li><b>Instance Url:</b> @ViewBag.InstanceUrl</li>
                </ul>

                <a href="#" id="accounts">Get Accounts</a>
            }
            else
            {
                @Html.ActionLink("Login to Salesforce", "Login", "Home")
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function() {

            //alert('hi');

            $("#accounts").click(function() {

                //alert('test1');

                var instanceUrl = encodeURIComponent('@ViewBag.InstanceUrl');

                //alert(instanceUrl);

                var url = '/api/force?instanceUrl=' + instanceUrl + '&accessToken=@ViewBag.Token&apiVersion=@ViewBag.ApiVersion&query=';

                //alert(url);
                
                $.getJSON(url), function (data) {
                    alert('test2');
                    console.log(data);
                    alert('test3');
                };

                //alert('test4');
            });

        });

    </script>
}