<div class="row">
    <div class="col-md-8">

        <div>
            @if (@ViewBag.LoggedIn)
            {
                <h2>Congratulations! You're logged in.</h2>
                <h3>You've retrieved the following authorization data.</h3>
                <ul>
                    <li><b>Access Token:</b> @ViewBag.Token</li>
                    <li><b>API Version:</b> @ViewBag.ApiVersion</li>
                    <li><b>Instance Url:</b> @ViewBag.InstanceUrl</li>
                </ul>

                <a href="#" id="accounts">Get Accounts</a>

                <script id="accountsRow" type="text/html">
                    <tr data-bind="attr: { id: Id }">
                        <td><span data-bind="text: Name"></span></td>
                        <td><span data-bind="text: Description"></span></td>
                    </tr>
                </script>

                <ul data-bind="template: { name: 'accountTemplate', foreach: accounts}"></ul>
                <hr />

                <script id="accountTemplate" type="text/html">

                    <li><input data-bind="value:Name" /></li>

                </script>



            }
            else
            {
                @Html.ActionLink("Login to Salesforce", "Login", "Home")
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#accounts").click(function () {

                var instanceUrl = encodeURIComponent('@ViewBag.InstanceUrl');
                var query = encodeURIComponent("SELECT id, name, description FROM Account LIMIT 10");

                var url = '/api/force?instanceUrl=' + instanceUrl + '&accessToken=@ViewBag.Token&apiVersion=@ViewBag.ApiVersion&query=' + query;

                $.getJSON(url, function (data) {

                    var viewModel = {
                        accounts: ko.observableArray(JSON.parse(data))
                    };

                    ko.applyBindings(viewModel);

                });
            });
        });
    </script>
}